.resource-image
	width: 30px
	margin-right: 15px

#resource-list
	list-style-type: none
	padding-left: 0px
	li
		margin-top: 5px
		margin-bottom: 5px
	p
		vertical-align: middle
		display: inline

#actions
	border: 1px solid black
	padding-left: 20px
	padding-top: 20px
	padding-bottom: 20px

#resources
	border: 1px solid black
	padding-left: 20px