@using  IncrementalSociety.Web.Services
@using  IncrementalSociety.Model
@inject GameService GameService

@foreach (var action in @GameService.Actions)
{
	<button type="button" onclick="@(() => OnClick(@action.Name))">@action.Name</button>
}

@functions {

	[Parameter]
	Action Refresh { get; set; }

	private void OnClick (string action)
	{
		GameService.ApplyAction (action);
		Refresh ();
	}
}