@using  IncrementalSociety.Web.Services
@using  IncrementalSociety.Model

@foreach (var action in @GameService.Actions)
{
	<button type="button" onclick="@(() => OnClick(@action))">@action</button>
}

@functions {
	
	[Parameter]
	GameService GameService { get; set; }

	void OnClick (string action)
	{
		GameService.ApplyAction (action);
	}
}
