@using IncrementalSociety.Web.Services
@using IncrementalSociety.Model
@inject GameService GameService

@foreach (var action in @GameService.Actions)
{
	<button type="button" onclick="@(() => OnClick(@action))">@action</button>
}

@functions {
	void OnClick (string action)
	{
		GameService.ApplyAction (action);
	}
}
