@using IncrementalSociety.Web.Services

@inject ActionService ActionService
@inject GameService GameService

@foreach (var action in ActionService.Actions)
{
	<button type="button" onclick="@(() => OnClick(@action))">@action</button>
}

@functions {

	protected override void OnInit ()
	{
		GameService.CurrentUIStateChanged += (o, e) => StateHasChanged ();
	}

	void OnClick (string action)
	{
		ActionService.ApplyAction (action);
	}
}
