@using System.Collections.Immutable

@using IncrementalSociety.Web.Services
@using IncrementalSociety.Model

@inject GameService GameService
@inject StyleService StyleService
@inject BuildingService BuildingService

<div>
	<BuildingView 
		BuildingName="@Building"
		Resources="@Resources"
		Conversions="@Conversions"
		BackgroundColor="@BackgroundColor"
		OnClick="OnClick"
		ColorResourcesAsDelta=true />
</div>

@functions {
	[Parameter]
	Area Area { get; set; }

	[Parameter]
	int Index { get; set; }

	[Parameter]
	string Building { get; set; }
	
	bool HasBuilding => !String.IsNullOrEmpty (Building);

	ImmutableDictionary<string, double> Resources => HasBuilding ? GameService.GetBuildingResources (Building) : null;

	protected override void OnInit ()
	{
		GameService.CurrentUIStateChanged += (o, e) => StateHasChanged ();
	}

	List<(bool Enabled, ImmutableDictionary<string, double> Resources)> Conversions
	{
		get
		{
			if (HasBuilding) {
				var allConversions = new List<(bool Enabled, ImmutableDictionary<string, double> Resources)> ();
				foreach (var conversion in GameService.GetBuildingConversionResources (Building)) {
					allConversions.Add ((GameService.IsConversionEnabled (conversion.Name), conversion.Resources)); 
				}
				return allConversions;
			}
			return null;
		}
	}

	string BackgroundColor
	{
		get
		{
			switch (GameService.CurrentUIState) 
			{
				case GameUIState.SelectBuildingToDestory:
					return HasBuilding ? "gray" : "white"; 
				default:
					return "white";	
			}
		}
	}
	
	void OnClick ()
	{
		switch (GameService.CurrentUIState) 
		{
			case GameUIState.SelectBuildingToDestory:
				if (HasBuilding) {
					BuildingService.OnDestroySelection (Area, Index);
				}
				break;
		}
	}
}
