@using  IncrementalSociety.Web.Services
@using  IncrementalSociety.Model

<div>
	<div class="area-building">
		<p class="area-building-title">@Building</p>
	</div>
</div>

@functions {
	[Parameter]
	string Building { get; set; }
}