@page "/"
@using  IncrementalSociety.Web.Services
@inject GameService GameService

<h1>Resourcs</h1>


<ul>
    @foreach (var forecast in @GameService.ResourcesNames)
    {
        <li>Name = @forecast</li>
    }
</ul>