@page "/"
@using System.Threading;
@using IncrementalSociety.Web.Services

@inject GameService GameService

@if (GameService.Loaded)
{
	<ErrorView />
	<div class="container-fluid">
		<div class="row">

			<div class="col-4">
				<div id="resources">
					<ResourceView />
				</div>
				<div id="actions">
					<ActionsView />
				</div>
				<div id="conversions">
					<ConversionsView />
				</div>

			</div>
			<div class="col">
				<div id="pop">
					<PopulationView />
				</div>
				<div id="regions">
					<RegionView />
					<BuildingSelectModal />
				</div>
			</div>
		</div>
	</div>
}

@functions {

	protected override async Task OnInitAsync()
	{
		await GameService.Load ();
	}

	protected override void OnInit ()
	{
		GameService.CurrentUIStateChanged += (o, e) => StateHasChanged ();
		StartTickTimer ();
		StartSaveTimer ();
	}

	void StartTickTimer ()
	{
		var timer = new Timer (new TimerCallback (_ => {
			GameService.OnTick ();
		}), null, 1000, 1000);
	}

	void StartSaveTimer ()
	{
		var timer = new Timer (new TimerCallback (_ => {
			GameService.Save ();
		}), null, 5000, 5000);
	}
}
