@using IncrementalSociety.Web.Services
@using IncrementalSociety.Model

@inject GameService GameService

@foreach (var region in @GameService.Regions)
{
	<div class="region">
		<p>@region.Name</p>
		<div class="region-areas d-flex flex-row flex-wrap">
			@for (int i = 0; i < region.Areas.Length; ++i)
			{
				string areaInfoID = region.Name + i.ToString ();
				<AreaView area="@region.Areas[i]" />
			}
		</div>
	</div>
}